<html>
  <head>
    <style>
      body {
        background: #ccc;
        margin: 0;
        padding: 0;
      }

      .content {
        background: #fff;
        max-width: 800px;
        padding: 2rem;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h2>Welcome to ReadyPrep</h2>

      <p>Hi <%= name %>!

      <p>To complete your registration, please <a href="<%= link %>">click here to confirm your email address</a>.

      <p>
        Regards,<br />
        The ReadyPrep Team
      </p>
    </div>
  </body>
</html>