<html>
  <head>
    <style>
      body {
        background: #ccc;
        margin: 0;
        padding: 0;
      }

      .content {
        background: #fff;
        max-width: 800px;
        padding: 2rem;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h2>Welcome to ReadyPrep</h2>

      <p>Hi <%= name %>!</p>

      <p>Thank you for joining the ReadyPrep community. Your account is now active. We hope you enjoy the platform.</p>

      <p></p>
        We worked hard to make the service as simple as possible, but you will likely benefit from a quick review of the FAQ.<br />
        <a href="<%= link %>">Follow this link now</a>, or visit the page later.
        It can be found in the dropdown menu of the setting icon in the upper right corner of the webpage.
      </p>
        
      <p>
        Enjoy,<br />
        The ReadyPrep Team
      </p>
    </div>
  </body>
</html>